<ion-header>
	<ion-navbar>
		<ion-title>{{record.firstname}} {{record.lastname}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="edit()">
				<ion-icon name="create"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding>
		<h1>{{record.firstname}} {{record.lastname}}</h1>
	</div>
	<ion-list class="sf-form-readonly">
		<ion-item *ngIf="record.email">
			<ion-label stacked>Email</ion-label>
			<ion-input type="text" [(ngModel)]="record.email" readonly></ion-input>
		</ion-item>
	</ion-list>

  <ion-list class="sf-form-readonly">
    <ion-list-header>
      Phones
    </ion-list-header>
    <ion-item *ngFor="let phone of record.phones">
      <ion-label stacked>{{phone.phoneType}}</ion-label>
      <ion-input type="text" [(ngModel)]="phone.phoneNumber" readonly></ion-input>
    </ion-item>
  </ion-list>

	<ion-fab right bottom padding>
		<button ion-fab (click)="edit()"><ion-icon name="create"></ion-icon></button>
	</ion-fab>

</ion-content>
